<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title>PdfGen Footer</title>
</head>

<body>
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<br>
			<hr>
			<br>
			<a href="/">Home</a>
			<br>
			<div sec:authorize="!isAuthenticated()">
				<a href="/login">
					<span class="sub">Login</span>
				</a>
				<br>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a href="/logout">
					<span class="sub">Logout</span>
				</a>
				<br>
			</div>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/}">
					<span class="tabs-text">Generate PDF</span>
				</a>
				<br>
			</div>
			<div sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a th:href="@{/}">
					<span class="tabs-text">Administration</span>
				</a>
				<br>
			</div>
			<div sec:authorize="hasAuthority('ROLE_USER')">
				<a th:href="@{/}">
					<span class="tabs-text">Administration</span>
				</a>
				<br>
			</div>
			<br>
			<br>
			<br>
		</div>
	</footer>
</body>
</html>