<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

</head>
<body>
	<div th:fragment="table" th:id="trim-table">

		<h3>Trim Files</h3>
		<p>Enter numbers (in seconds)</p>
		<a th:href="@{randomize-trim-all}">Randomize</a>
		<br>
		<a th:href="@{sort-filespec-alphabet}">Sort By Name</a>
		<br>
		<br>
		<p>
			Current Duration (<span th:text="${fsr.maxLength}"></span> sec)
		</p>
		<table id="table" class="table">
			<thead>
				<tr>
					<th class="col-xs-2" scope="col">File Name</th>
					<th class="col-xs-1" scope="col">Up</th>
					<th class="col-xs-1" scope="col">Down</th>
					<th class="col-xs-5" scope="col"></th>
					<th class="col-xs-5" scope="col">Trim</th>
					<th class="col-xs-1" scope="col">Copy</th>
					<th class="col-xs-1" scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="file : ${files}">
					<th scope="row" th:text="${file.origFilename}"></th>
					<td>
						<form action="#" th:action="@{move-video-up}" method="post">
							<input type="hidden" name="file" th:value="${file.filename}" />
							<button class="js-trim-btn btn btn-sm btn-primary " th:id="js-trim-btn" type="submit">Up</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{move-video-down}" method="post">
							<input type="hidden" name="file" th:value="${file.filename}" />
							<button class="js-trim-btn btn btn-sm btn-primary " th:id="js-trim-btn" type="submit">Down</button>
						</form>
					</td>
					<td class="trim-td">
						<form action="#" th:id="${file.filename + 'form'}" th:name="${file.filename + 'form'}" th:action="@{set-video-trim}" method="post">
							<input type="hidden" name="filename" th:value="${file.filename}" />
							<div class="slider-group pull-left">
								<input type="range" min="0" th:max="${file.duration / 1000 + 1}" step=".5" name="trimStart" th:value="${file.trimStart}" class="js-slider form-control-range slider"
									th:id="|${file.filename + 'start'}|" th:oninput="|showValStart('${file.filename + 'startbox'}', this.value)|" th:onchange="|showValStart('${file.filename + 'startbox'}', this.value)|"
								>
								<div class="output-width">
									<span class="slider-output" th:id="|${file.filename}startbox|" th:value="${file.trimStart}"></span>
								</div>
								<input type="range" min="0" th:max="${file.duration / 1000 + 1}" step=".5" name="trimEnd" th:value="${file.trimEnd}" class="js-slider form-control-range slider"
									th:id="|${file.filename + 'end'}|" th:oninput="|showValEnd('${file.filename + 'endbox'}', this.value)|" th:onchange="|showValEnd('${file.filename + 'endbox'}', this.value)|"
								>
								<div class="output-width">
									<span class="slider-output" th:id="|${file.filename}endbox|" th:value="${file.trimEnd}"></span>
								</div>
							</div>

						</form>
					</td>
					<td>
						<div class="slider-button">
							<button class="js-trim-btn btn btn-sm btn-primary " th:id="js-trim-btn" th:onclick="|submitTrimForm('${file.filename + 'form'}')|">Trim</button>
						</div>
					</td>
					<td>
						<form action="#" th:action="@{copy-video}" method="post">
							<input type="hidden" name="filepath" th:value="${file.inputURL}" />
							<button class="js-trim-btn btn btn-sm btn-primary " th:id="js-trim-btn" type="submit">Copy</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{remove-file-spec-from-trim}" method="post">
							<input type="hidden" name="filepath" th:value="${file.filename}" />
							<button class="js-trim-btn btn btn-sm btn-primary " th:id="js-trim-btn" type="submit">Remove</button>
						</form>
					</td>
				<tr>
			</tbody>
		</table>


	</div>
</body>
</html>