<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

</head>
<body>
	<div th:replace="fragments/navigation :: navigation"></div>

	<section layout:fragment="content">

		<h3>Choose your sound file...</h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">File Name</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${soundFiles}">
					<th scope="row" th:text="${file.filename}"></th>
					<td><form action="#" th:action="@{select-sound}" method="post">
							<input type="hidden" name="filename" th:value="${file.file.name}" />
							<button th:id="select-sound" type="submit">Select Music</button>
						</form></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h3>Video Files</h3>
		<a th:href="@{select-video-all}">Select All Videos</a>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">File Name</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${videoFiles}">
					<th scope="row" th:text="${file.filename}"></th>
					<td><form action="#" th:action="@{select-video}" method="post">
							<input type="hidden" name="filepath" th:value="${file.file.path}" />
							<button th:id="select-video" type="submit">Select Video</button>
						</form></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h3>Chosen Files</h3>
		<h4>Current Background Music --></h4>
		<h4 th:text="${sound}"></h4>
		<br>
		<a th:href="@{empty-fsr}">Clear</a>
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">File Name</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${specFiles}">
					<th scope="row" th:text="${file.origFilename}"></th>
					<td><form action="#" th:action="@{remove-file-spec}" method="post">
							<input type="hidden" name="filepath" th:value="${file.filename}" />
							<button th:id="remove-file-spec" type="submit">Remove</button>
						</form></td>
				</tr>
			</tbody>
		</table>

		<hr>
		<form action="#" th:action="@{trim-video}" method="post">
			<input type="hidden" name="fsr" th:value="${fsr}" />
			<button th:id="remove-file" type="submit">Trim 'em up!</button>
		</form>



		<br>
	</section>
</body>

</html>