<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header">
<title>Layout page</title>
</head>

<body>
	<div th:replace="fragments/navigation :: navigation"></div>

	<p th:text="${message}"></p>
	<h3 th:text="${stupidmessage}"></h3>
	<div class="main-content container" layout:fragment="content"></div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>