<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

</head>
<body>
	<section layout:fragment="content">
		<h4>What point should your music start from? (Enter in seconds)</h4>
		<h4 th:text="${sound}"></h4>
		<p>
			(<span th:text="${fsr.soundDuration}"></span> sec total)
		</p>
		<form action="#" th:action="@{set-sound-trim}" method="post">
			<input type="text" name="soundTrim" th:value="${fsr.soundTrim}" />
			<button th:id="trim-file" type="submit">Save Trim</button>
		</form>
		<div class="container">
			<img class="waveform-img" th:src="@{'data:image/png;base64,'+${pw.generateBase64Image()}}" />
		</div>
		<hr>
		<h3>Trim Files</h3>
		<p>Enter numbers (in seconds)</p>
		<a th:href="@{randomize-trim-all}">Randomize</a>
		<br>
		<a th:href="@{sort-filespec-alphabet}">Sort By Name</a>
		<br>
		<br>
		<p>
			Current Duration (<span th:text="${fsr.maxLength}"></span> sec)
		</p>
		<table class="table">
			<thead>
				<tr>
					<th class="col-xs-2" scope="col">File Name</th>
					<th class="col-xs-1" scope="col">Up</th>
					<th class="col-xs-1" scope="col">Down</th>
					<th class="col-xs-5" scope="col"></th>
					<th class="col-xs-5" scope="col">Trim</th>
					<th class="col-xs-1" scope="col">Copy</th>
					<th class="col-xs-1" scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="file : ${files}">
					<th scope="row" th:text="${file.origFilename}"></th>
					<td>
						<form action="#" th:action="@{move-video-up}" method="post">
							<input type="hidden" name="file" th:value="${file.filename}" />
							<button class="btn btn-sm btn-primary " th:id="move-video-up" type="submit">Up</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{move-video-down}" method="post">
							<input type="hidden" name="file" th:value="${file.filename}" />
							<button class="btn btn-sm btn-primary " th:id="move-video-down" type="submit">Down</button>
						</form>
					</td>
					<td class="trim-td">
						<form action="#" th:id="${file.filename + 'form'}" th:name="${file.filename + 'form'}" th:action="@{set-video-trim}" method="post">
							<input type="hidden" name="filename" th:value="${file.filename}" />
							<div class="slider-group pull-left">
								<input type="range" min="0" th:max="${file.duration / 1000 + 1}" step=".5" name="trimStart" th:value="${file.trimStart}" class="js-slider form-control-range slider"
									th:id="|${file.filename + 'start'}|" th:oninput="|showValStart('${file.filename + 'startbox'}', this.value)|" th:onchange="|showValStart('${file.filename + 'startbox'}', this.value)|"
								>
								<div class="output-width">
									<span class="slider-output" th:id="|${file.filename}startbox|" th:value="${file.trimStart}"></span>
								</div>
								<input type="range" min="0" th:max="${file.duration / 1000 + 1}" step=".5" name="trimEnd" th:value="${file.trimEnd}" class="js-slider form-control-range slider"
									th:id="|${file.filename + 'end'}|" th:oninput="|showValEnd('${file.filename + 'endbox'}', this.value)|" th:onchange="|showValEnd('${file.filename + 'endbox'}', this.value)|"
								>
								<div class="output-width">
									<span class="slider-output" th:id="|${file.filename}endbox|" th:value="${file.trimEnd}"></span>
								</div>
							</div>

						</form>
					</td>
					<td>
						<div class="slider-button">
							<button class="btn btn-sm btn-primary " th:id="trim-file" th:onclick="|submitTrimForm('${file.filename + 'form'}')|">Trim</button>
						</div>
					</td>
					<td>
						<form action="#" th:action="@{copy-video}" method="post">
							<input type="hidden" name="filepath" th:value="${file.inputURL}" />
							<button class="btn btn-sm btn-primary " th:id="select-video" type="submit">Copy</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{remove-file-spec-from-trim}" method="post">
							<input type="hidden" name="filepath" th:value="${file.filename}" />
							<button class="btn btn-sm btn-primary " th:id="remove-file-spec" type="submit">Remove</button>
						</form>
					</td>
				<tr>
			</tbody>
		</table>

		<br>
		<form action="#" th:action="@{baxt-video}" method="post">
			<input type="hidden" name="fsr" th:value="${fsr}" />
			<button class="btn btn-sm btn-primary " th:id="baxt-video" type="submit">Baxt It!</button>
		</form>
		<br>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/trim-video.js" type="text/javascript"></script>
	</section>
</body>

</html>