<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>

</head>
<body>
 
	<section layout:fragment="content">
	<form method="post" th:action="@{uploadVideo}" enctype="multipart/form-data">
			<input name="videos" type="file" multiple="multiple">
			<br>
			<input type="hidden" name="user" th:value="${user}">
			<input value="Upload" type="submit">
		</form>
	
	
			<br>
	</section>
</body>

</html>