<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

</head>
<body>

	<section layout:fragment="content">
		<p>
			Storage Usage : <span th:text="${storage}"></span>mb / 1000mb
		</p>
		<h2>Upload Sound File</h2>
		<p>The sound file must be a file of type .mp3 or .wav.</p>
		<form method="post" th:action="@{upload-sound}" enctype="multipart/form-data">
			<label class="js-upload-btn btn btn-sm btn-primary "> <input name="sound" type="file" style="display: none;"> Choose Sound File
			</label>
			<br>
			<br>
			<button class="js-upload-btn btn btn-sm btn-primary " type="submit">Upload</button>
		</form>
		<br>
		<table class="table js-sound-table">
			<thead>
				<tr>
					<th class="col-xs-6" scope="col">File Name</th>
					<th class="col-xs-3" scope="col">Remove</th>
					<th class="col-xs-3" scope="col">Change name</th>
				</tr>
			</thead>
			<tbody>
				<tr class="js-file-row" th:each="file : ${soundFiles}">
					<th scope="row" th:text="${file.filename}"></th>
					<td>
						<form action="#" th:action="@{remove-file}" method="post">
							<input type="hidden" name="username" th:value="${username}" />
							<input type="hidden" name="filepath" th:value="${file.file.path}" />
							<button class="js-remove-file-btn btn btn-sm btn-primary " th:id="remove-file" type="submit">Remove</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{rename-file}" method="post">
							<input type="hidden" th:id="|${file.file.path}_username|" name="username" th:value="${username}" />
							<input type="hidden" th:id="|${file.file.path}_filepath|" name="filepath" th:value="${file.file.path}" />
						</form>
						<button class="js-upload-btn btn btn-sm btn-primary " th:onclick="|renameFile('${file.file.path}', '${username}')|" th:id="change-filename">Change Name</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h3>Choose Your Videos</h3>
		<p>The files need to be .mp4 , .mov or .wav</p>
		<p>Files must be smaller than 500mb</p>
		<form method="post" th:action="@{upload-video}" enctype="multipart/form-data">
			<label class="js-upload-btn btn btn-sm btn-primary "> <input name="videos" type="file" multiple="multiple" style="display: none;"> Choose Videos
			</label>
			<br>
			<br>
			<button class="js-upload-btn btn btn-sm btn-primary " type="submit">Upload</button>
		</form>

		<h3>Uploaded Files</h3>

		<table class="table js-video-table">
			<thead>
				<tr>
					<th class="col-xs-6" scope="col">File Name</th>
					<th class="col-xs-3" scope="col">Remove</th>
					<th class="col-xs-3" scope="col">Change name</th>
				</tr>
			</thead>
			<tbody>
				<tr class="js-file-row" th:each="file : ${videoFiles}">
					<th scope="row" th:text="${file.filename}"></th>
					<td>
						<form class="js-remove-form"action="#" th:id="${file.file.path}" th:action="@{remove-file}" method="post">
							<input type="hidden" name="username" th:value="${username}" />
							<input type="hidden" name="filepath" th:value="${file.file.path}" />
							<button class="js-remove-file-btn btn btn-sm btn-primary " th:id="remove-file" type="button">Remove</button>
						</form>
					</td>
					<td>
							<input type="hidden" th:id="|${file.file.path}_username|" name="username" th:value="${username}" />
							<input type="hidden" th:id="|${file.file.path}_filepath|" name="filepath" th:value="${file.file.path}" />
						<button class="js-upload-btn btn btn-sm btn-primary " th:onclick="|renameFile('${file.file.path}', '${username}')|" th:id="change-filename">Change Name</button>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/upload-page.js" type="text/javascript"></script>
	</section>
</body>

</html>
